.item{
    width: 24%;
    margin-top: 2%;
    margin-bottom: 2%;
}
body{
    color: white;
}
h1{
    margin-left: 45%;
}
.bg{
    position: fixed;
  width: 100%;
  z-index: -1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    background-image: url(https://wallpapercave.com/wp/wp2686809.jpg);
}

.first{
    margin-left: 38%;
}

.second {
    margin-left: 26%;
}

.third{
    margin-left: 14.5%;
}

.fourth{
    margin-left: 2%;
}